.app {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

button {
  margin-top: 5px;
  width: 100px;
  height: 25px;
}

p {
  margin-top: 5px;
}

canvas {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 480px;
  height: 360px;
  transform: scale(-1, 1);
}

video {
  width: 480px;
  height: 360px;
  transform: scale(-1, 1);
}

.app-header {
  background-color: #049Fd9;
  color: white;
  padding: 1px;
}

.canvas-container {
  position: relative;
  width: 480px;
  height: 360px;
}

.cisco-logo {
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-block-lg {
  display: inline-block;
  width: 480px;
  margin: 0 10px;
  text-align: center;
  vertical-align: top;
}

.inline-block-sm {
  display: inline-block;
  width: 175px;
  margin: 10px;
  vertical-align: top;
}

.predicted-gesture {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  padding: 10px;
}
