.app {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

canvas {
  width: 640px;
  height: 360px;
  left: 0;
  top: 0;
  position: absolute;
}

video {
  width: 640px;
  height: 360px;
}

.app-header {
  background-color: #049Fd9;
  color: white;
  padding: 1px;
}

.canvas-container {
  position: relative;
}

.cisco-logo {
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.grayscale {
  filter: grayscale(100%);
}

.inline-block-lg {
  display: inline-block;
  width: 640px;
  margin: 0 10px;
  text-align: center;
  vertical-align: top;
}

.inline-block-sm {
  display: inline-block;
  width: 200px;
  margin: 10px;
  vertical-align: top;
}

.predicted-gesture {
  border: 2px solid black;
  width: 120px;
  height: 120px;
  margin-top: 5px;
  padding: 10px;
}
